absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
appnope==0.1.3
asgiref==3.7.2
asttokens==2.2.1
astunparse==1.6.3
async-timeout==4.0.2
attrs==23.2.0
Automat==22.10.0
backcall==0.2.0
blinker==1.7.0
cachetools==5.3.0
certifi==2024.2.2
cffi @ file:///private/tmp/cffi-20231015-5876-1oubxev/cffi-1.16.0
charset-normalizer==3.3.2
click==8.1.7
coloredlogs==15.0.1
comm==0.1.3
compress-json==1.0.8
constantly==15.1.0
construct==2.10.68
contourpy==1.0.7
cv==1.0.0
cycler==0.11.0
debugpy==1.6.7
decorator==5.1.1
Deprecated==1.2.14
discord==2.3.1
discord.py==2.3.1
distlib==0.3.7
Django==3.2.10
djongo==1.3.6
dnspython==2.4.2
docutils @ file:///private/tmp/docutils-20231016-5777-1hh809k/docutils-0.20.1
executing==1.2.0
filelock==3.12.4
Flask==3.0.3
flatbuffers==24.3.7
fonttools==4.39.3
frozenlist==1.3.3
gast==0.4.0
google-api-core==2.14.0
google-api-python-client==2.108.0
google-auth==2.18.1
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
googleapis-common-protos==1.61.0
grpcio==1.55.0
h5py==3.8.0
httplib2==0.22.0
humanfriendly==10.0
hyperlink==21.0.0
idna==3.6
image==1.5.33
imageio==2.34.0
incremental==22.10.0
install==1.3.5
ipykernel==6.22.0
ipython==8.12.0
itsdangerous==2.1.2
jax==0.4.10
jedi==0.18.2
Jinja2==3.1.3
joblib==1.2.0
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter_client==8.2.0
jupyter_core==5.3.0
keras==2.12.0
kiwisolver==1.4.4
lazy_loader==0.3
libclang==16.0.0
llvmlite==0.42.0
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib==3.7.1
matplotlib-inline==0.1.6
ml-dtypes==0.1.0
mpmath==1.3.0
multidict==6.0.4
nest-asyncio==1.5.6
networkx==3.2.1
np==1.0.2
numba==0.59.0
numpy==1.26.4
oauthlib==3.2.2
onnxruntime==1.17.1
opencv-python==4.7.0.72
opencv-python-headless==4.9.0.80
opt-einsum==3.3.0
packaging==24.0
pandas==1.5.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.2.0
pipenv==2023.9.8
platformdirs==4.2.0
plot-keras-history==1.1.38
ply==3.11
pooch==1.8.1
prompt-toolkit==3.0.38
protobuf==5.26.0
psutil==5.9.5
psycopg2==2.9.9
psycopg2-binary==2.9.9
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycparser @ file:///private/tmp/pycparser-20231013-6010-ksuqao/pycparser-2.21
pycryptodomex==3.18.0
PyMatting==1.1.12
pymongo==4.6.0
pyparsing==3.0.9
pysmi==0.3.4
pysnmp==4.4.12
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
PyYAML==6.0
pyzmq==25.0.2
referencing==0.33.0
rembg==2.0.56
requests==2.31.0
requests-oauthlib==1.3.1
rpds-py==0.18.0
rsa==4.9
sanitize-ml-labels==1.0.50
scikit-image==0.22.0
scikit-learn==1.2.2
scipy==1.12.0
seaborn==0.12.2
six==1.16.0
sklearn==0.0.post1
sqlparse==0.2.4
stack-data==0.6.2
stats==0.1.2a0
support-developer==1.0.5
sympy==1.12
tabulate==0.8.10
tensor==0.3.6
tensorboard==2.12.3
tensorboard-data-server==0.7.0
tensorflow==2.12.0
tensorflow-estimator==2.12.0
tensorflow-io-gcs-filesystem==0.32.0
termcolor==2.3.0
tf==1.0.0
threadpoolctl==3.1.0
tifffile==2024.2.12
tornado==6.3.1
tqdm==4.66.2
traitlets==5.9.0
tsplib95==0.7.1
Twisted==22.10.0
typing_extensions==4.6.0
uritemplate==4.1.1
urllib3==2.2.1
utils==1.0.1
virtualenv==20.24.5
wcwidth==0.2.6
Werkzeug==3.0.2
wrapt==1.14.1
yarl==1.9.2
youtube-dl==2021.12.17
zope.interface==6.0
