body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

nav {
    background-color: #333333;
    color: #ffffff;
    padding: 10px;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    background-color: #49ff64;
    border-radius: 5px;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container:hover {
    box-shadow: 0 0 10px rgb(255, 2, 2);
}

h1 {
    text-align: center;
    color: #333333;
}

.upload-form {
    text-align: center;
    margin-bottom: 20px;
}

.custom-file {
    display: inline-block;
    position: relative;
    width: 100%;
    margin: 0;
}

.custom-file-label::after {
    content: "Browse";
}

.custom-file-label:hover {
    cursor: pointer; 
    background-color: #49ff64; 
    border-radius: 5px; 
}

.output-image {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333333;
    color: #ffffff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.before-after {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.before-after .image-container {
    flex: 1;
    margin: 0 10px;
}

.before-after .image-container img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .before-after {
        flex-direction: column;
    }

    .before-after .image-container {
        margin: 10px 0;
    }
}

.second {
    color: #071313;
}


.testimonial-section {
    margin-top: 50px;
    text-align: center;
}

.testimonial {
    border: 1px solid #ff0000;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    max-width: 600px; 
    margin-left: auto;
    margin-right: auto;
    background-color: #fcffba
}

.testimonial-content {
    font-size: 14px;
    line-height: 1.5;
}

.testimonial-content p {
    margin-bottom: 5px;
}

.author {
    font-style: italic;
}


.rating {
    display: inline-block;
  }
  
  .rating input {
    display: none;
  }
  
  .rating label {
    font-size: 2em;
    color: #ccc;
    cursor: pointer;
  }
  
  .rating input:checked ~ label {
    color: #ffc700;
  }
  
  .rating label:hover,
  .rating label:hover ~ label {
    color: #ffcd85;
  }
