<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/contact.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="#">About</a>
        <a href="../contact">Contact</a>
        <a href="../pricing">Pricing</a>
    </nav>
    <div class="container">
        <h1>Contact Us</h1>
        <form action="#" method="POST">
            <input type="text" name="name" placeholder="Your Name" required><br>
            <input type="email" name="email" placeholder="Your Email" required><br>
            <textarea name="message" placeholder="Your Message" required></textarea><br>
            <button type="submit">Submit</button>
        </form>
    </div>

    <footer>
        <p>&copy; Kelvin Likollari - Background Image Remover.</p>
    </footer>

    <!-- JavaScript and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
