<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pricing</title>
    <link rel="stylesheet" href="../static/pricing.css">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <ul class="nav-links">
                <li><a href="/">Home</a></li>
                <li><a href="../about">About</a></li>
                <li><a href="../contact">Contact</a></li>
                <a href="../pricing">Pricing</a>
            </ul>
        </div>
    </nav>

    <section class="pricing-plans">
        <div class="container">
            <div class="plan">
                <h2>FREE</h2>
                <p>Basic features</p>
                <p>2 Free Images Per Day</p>
                <button class="btn btn-free">Get Started</button>
            </div>
            <div class="plan">
                <h2>PREMIUM</h2>
                <p>Unlimited images</p>
                <p>Advanced features</p>
                <p>$5 per month</p>
                <button class="btn btn-premium">Subscribe</button>
            </div>
        </div>
    </section>

    <footer>
        <p>&copy; Kelvin Likollari - Background Image Remover.</p>
    </footer>

    <script src="../static/pricing.js"></script>
</body>
</html>
